{% extends "basic.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}

<div class="content-wrapper ">
<div class="container pt-5">
<div class="col-sm-11 text-white bg-white px-3 py-3 mx-auto d-block  shadow">
<p class="dashboard-heading-1">
Add New Hotel</p>

        {% for message in get_flashed_messages() %}
        <div class="alert alert-success text-center" role="alert">
            <p>{{ message }}</p>
        </div>
        {% endfor %}



        <form method="POST" action="/hotel-rooms" enctype="multipart/form-data">
        <div class="row mt-1 ">
                <div class="col-sm-6 mb-2">
                    <input name="date" type="date" multiple class="form-control " placeholder="date" required>
                </div>

                     <div class="col-sm-6 mb-2">
                    <select class="form-control col" name="country" id="category" aria-label="Default select example" onchange="changeSubCategory(this.value);" required>   
                            <option selected>Country</option>
                            {% for i in data %}
                            <option value="{{i[0]}} ">{{i[1]}}</option>
                            {% endfor %}  
                          </select>
                </div>

                     <div class="col-sm-6 mb-2">
                    <select class="form-control col " name="city" id="categorynamenew" ; onchange="changehotel(this.value);" aria-label="Default select example" required>
                           
                                <option selected> City</option>
                                
                                
                               
                              </select>
                     </div>

                     <div class="col-sm-6 mb-2">
                    <select class="form-control col " name="hotelid" id="hotel" ; aria-label="Default select example" required>
                           
                                <option selected> hotel</option>
                                
                                
                               
                              </select>
                </div>


                     <div class="col-sm-6 mb-2">

                    <select class="form-control col" name="bed" id="category" aria-label="Default select example"  required>   
                            <option selected>Room Type</option>
                           
                            <option>Single Bed</option>
                            <option>Double Beds</option>
                            <option>Triple Beds</option>
                             
                          </select>
                     </div>




            

                               <div class="col-sm-6 mb-2">

                    <input name="price" type="text" multiple class="form-control " placeholder="price person" required>
                </div>


</div>
<button type="submit " class="mt-2 dashboard-btn-1 mx-auto d-block">Add Hotel</button>

        </form>
</div></div></div>




        {% endblock %} {% block script %}
        <script>
            function changeSubCategory(id) {
                removeAll(document.getElementById("categorynamenew"));
                var option = document.createElement("option");
                option.text = "Select City";
                option.value = "";
                var select = document.getElementById("categorynamenew");
                select.appendChild(option);


                var catid = id;

                {% for i in subcat %}
                if (catid == {{i[2]}}) {
                    var option = document.createElement("option");
                    option.text = "{{i[1]}}";
                    option.value = "{{i[0]}}";
                    var select = document.getElementById("categorynamenew");
                    select.appendChild(option);

                } {% endfor %}}

            function removeAll(selectBox) {
                while (selectBox.options.length > 0) {
                    selectBox.remove(0);
                }
            }


            function changehotel(id) {
                removeAll(document.getElementById("hotel"));
                var option = document.createElement("option");
                option.text = "Select Hotel";
                option.value = "";
                var select = document.getElementById("hotel");
                select.appendChild(option);


                var catid = id;

                {% for i in hotel %}
                if (catid == {{i[2]}}) {
                    var option = document.createElement("option");
                    option.text = "{{i[3]}}";
                    option.value = "{{i[0]}}";
                    var select = document.getElementById("hotel");
                    select.appendChild(option);

                } {% endfor %}}
        </script>
        {% endblock %}