{% extends "basic.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}


<div class="content-wrapper ">
<div class="container pt-5">
<div class="col-sm-11 text-white bg-white px-3 py-3 mx-auto d-block  shadow">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-primary text-center" role="alert">
            <p>{{ message }}</p>
        </div>
        {% endfor %}


<p class="dashboard-heading-1">
            Add Extra Charges

</p>


        <form method="POST" action="/extra-charges" enctype="multipart/form-data">


            <div class="row">
                <div class="col-sm-4 mb-3">

                    <select class="form-control col" name="country" id="category" aria-label="Default select example" onchange="changeSubCategory(this.value);" required>   
                            <option selected>Country</option>
                            {% for i in data %}
                            <option value="{{i[0]}} ">{{i[1]}}</option>
                            {% endfor %}  
                          </select>
                </div>

                <div class="col-sm-4 mb-3">
                    <select class="form-control col " name="city" id="categorynamenew" ; onchange="changehotel(this.value);" aria-label="Default select example" required>
                           
                                <option selected> City</option>
                                
                                
                               
                              </select>
                </div>

                <div class="col-sm-4 mb-3">
                    <select class="form-control col " name="hotelname" id="hotel" ; aria-label="Default select example" required>
                           
                                <option selected> hotel</option>
                                
                                
                               
                              </select>
                </div>

            {# <div class="row mt-1 " style="margin-left:5px ; ">
                <div class="col-sm-12 ">
                    <input name="hotelname" type="text" class="form-control " placeholder="hotel name " required>
                </div>

            </div> #}

                <div class="col-sm-4 mb-3">
                    <input name="transfer" type="text" multiple class="form-control " placeholder="Transfer Charges" required>
                </div>



                <div class="col-sm-4 mb-3">
                    <input name="visa" type="text" multiple class="form-control " placeholder="visa" required>
                </div>



                <div class="col-sm-4 mb-3">
                    <input name="insurance" type="text" multiple class="form-control " placeholder="insurance Charges" required>
                </div>


                  <div class="col-sm-4 mb-3">

                    <input name="profit" type="text" multiple class="form-control " placeholder="Profit" required>
                </div>
                <div class="col-sm-4 mb-3">
                </div>

                <div class="col-sm-4 mb-3">


                <button type="submit " class="mt-2  dashboard-btn-1 ">Add Extra Charges</button>

                </div>
        </form>


</div></div></div>

        {% endblock %} {% block script %}
        <script>
            function changeSubCategory(id) {
                removeAll(document.getElementById("categorynamenew"));
                var option = document.createElement("option");
                option.text = "Select Subcategory";
                option.value = "";
                var select = document.getElementById("categorynamenew");
                select.appendChild(option);


                var catid = id;

                {% for i in subcat %}
                if (catid == {{i[2]}}) {
                    var option = document.createElement("option");
                    option.text = "{{i[1]}}";
                    option.value = "{{i[0]}}";
                    var select = document.getElementById("categorynamenew");
                    select.appendChild(option);

                } {% endfor %}}

            function removeAll(selectBox) {
                while (selectBox.options.length > 0) {
                    selectBox.remove(0);
                }
            }


            function changehotel(id) {
                removeAll(document.getElementById("hotel"));
                var option = document.createElement("option");
                option.text = "Select Subcategory";
                option.value = "";
                var select = document.getElementById("hotel");
                select.appendChild(option);


                var catid = id;

                {% for i in hotel %}
                if (catid == {{i[2]}}) {
                    var option = document.createElement("option");
                    option.text = "{{i[3]}}";
                    option.value = "{{i[0]}}";
                    var select = document.getElementById("hotel");
                    select.appendChild(option);

                } {% endfor %}}
        </script>
        {% endblock %}