<!DOCTYPE html>
<html>

<head>
    <title>Tour</title>
    <meta charset="utf-8">

    <!-- Google Font: Source Sans Pro -->
    <link href='https://fonts.googleapis.com/css?family=Fredoka One' rel='stylesheet'>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="home-bg-1">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="/">
                    <img src="static/img/logo.png" class="img-fluid logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto ">
                        <li class="nav-item nav-item-1 menu-dropdown">
                            <a class="nav-link nav-link-1 nav-hover-1 dropbtn" href="/alldestinations">
                                <i class="fa fa-globe home-icon-1"></i>
                                <span class="mega-description-group">
          <span class="mega-menu-title">All Destinations</span><span class="mega-menu-description">Amazing travel packages</span></span>
                            </a>



<!--                            <div class="menu-dropdown-content">-->
<!--                                <div class="container">-->
<!--                                    <div class="row">-->
<!--                                        <div class="col-sm-6">-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-sm-4">-->
<!--                                                    <p class="nav-text-1">-->
<!--                                                        BROWSE BY TYPE</p>-->
<!--                                                    <a href="#" class="nav-sub-link-1">All inclusive</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Free kids’ places</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Adults only</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Last minute</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Summer 2020</a><br>-->
<!--                                                </div>-->
<!--                                                <div class="col-sm-4">-->
<!--                                                    <p class="nav-text-1">-->
<!--                                                        BROWSE BY TYPE</p>-->
<!--                                                    <a href="#" class="nav-sub-link-1">All inclusive</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Free kids’ places</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Adults only</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Last minute</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Summer 2020</a><br>-->
<!--                                                </div>-->
<!--                                                <div class="col-sm-4">-->
<!--                                                    <p class="nav-text-1">-->
<!--                                                        BROWSE BY TYPE</p>-->
<!--                                                    <a href="#" class="nav-sub-link-1">All inclusive</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Free kids’ places</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Adults only</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Last minute</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Summer 2020</a><br>-->
<!--                                                </div>-->
<!--                                            </div>-->





<!--                                        </div>-->
<!--                                        <div class="col-sm-6">-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-sm-4">-->
<!--                                                    <div class="span-div-nav-1">-->
<!--                                                        <span class="span-label-nav-tag">New</span>-->

<!--                                                    </div>-->
<!--                                                    <div class="sub-nav-img-1"></div>-->
<!--                                                    <p class="nav-text-2">Caesar Palace </p>-->

<!--                                                    <span class="fa fa-star checked"></span>-->
<!--                                                    <span class="fa fa-star checked"></span>-->
<!--                                                    <span class="fa fa-star checked"></span>-->
<!--                                                    <span class="fa fa-star"></span>-->
<!--                                                    <span class="fa fa-star"></span>-->
<!--                                                    <p class="nav-text-3">-->
<!--                                                        Giardini Naxos, Sicily, Italy-->
<!--                                                    </p>-->
<!--                                                    <p class="nav-text-4">From <b> $ 940</b></p>-->


<!--                                                </div>-->
<!--                                                <div class="col-sm-4">-->
<!--                                                    <div class="sub-nav-img-1"></div>-->

<!--                                                </div>-->
<!--                                                <div class="col-sm-4">-->
<!--                                                    <div class="sub-nav-img-1"></div>-->

<!--                                                </div>-->
<!--                                            </div>-->


<!--                                        </div>-->

<!--                                    </div>-->

<!--                                </div>-->
<!--                            </div>-->




                        </li>

                        <li class="nav-item nav-item-1 menu-dropdown">
                            <a class="nav-link nav-link-1 nav-hover-1 dropbtn" href="/viewalltour2">
                                <i class="fa fa-globe home-icon-1"></i>
                                <span class="mega-description-group">
          <span class="mega-menu-title">Tour</span><span class="mega-menu-description">Guided tours &amp; excursions</span></span>
                            </a>

<!--                            <div class="menu-dropdown-content">-->
<!--                                <div class="container">-->
<!--                                    <div class="row">-->
<!--                                        <div class="col-sm-6">-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-sm-4">-->
<!--                                                    <p class="nav-text-1">-->
<!--                                                        BROWSE BY TYPE</p>-->
<!--                                                    <a href="#" class="nav-sub-link-1">All inclusive</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Free kids’ places</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Adults only</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Last minute</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Summer 2020</a><br>-->
<!--                                                </div>-->
<!--                                                <div class="col-sm-4">-->
<!--                                                    <p class="nav-text-1">-->
<!--                                                        BROWSE BY TYPE</p>-->
<!--                                                    <a href="#" class="nav-sub-link-1">All inclusive</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Free kids’ places</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Adults only</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Last minute</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Summer 2020</a><br>-->
<!--                                                </div>-->
<!--                                                <div class="col-sm-4">-->
<!--                                                    <p class="nav-text-1">-->
<!--                                                        BROWSE BY TYPE</p>-->
<!--                                                    <a href="#" class="nav-sub-link-1">All inclusive</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Free kids’ places</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Adults only</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Last minute</a><br>-->
<!--                                                    <a href="#" class="nav-sub-link-1">Summer 2020</a><br>-->
<!--                                                </div>-->
<!--                                            </div>-->





<!--                                        </div>-->
<!--                                        <div class="col-sm-6">-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-sm-4">-->
<!--                                                    <div class="span-div-nav-1">-->
<!--                                                        <span class="span-label-nav-tag">New product</span>-->

<!--                                                    </div>-->
<!--                                                    <div class="sub-nav-img-1"></div>-->

<!--                                                </div>-->
<!--                                                <div class="col-sm-4">-->
<!--                                                    <div class="sub-nav-img-1"></div>-->

<!--                                                </div>-->
<!--                                                <div class="col-sm-4">-->
<!--                                                    <div class="sub-nav-img-1"></div>-->

<!--                                                </div>-->
<!--                                            </div>-->


<!--                                        </div>-->

<!--                                    </div>-->

<!--                                </div>-->
<!--                            </div>-->


                        </li>


                        <li class="nav-item nav-item-1">
                            <a class="nav-link nav-link-1 nav-hover-1" href="/7-day-Package">
                                <i class="fa fa-globe home-icon-1"></i>
                                <span class="mega-description-group">
          <span class="mega-menu-title">7 days Packages </span><span class="mega-menu-description">Unforgettable sailings</span></span>
                            </a>

                        </li>






<!--                        <li class="nav-item nav-item-1">-->
<!--                            <a class="nav-link nav-link-1 nav-hover-1" href="#">-->
<!--                                <i class="fa fa-globe home-icon-1"></i>-->

<!--                                <span class="mega-description-group"><span class="mega-menu-title">Destinations</span><span class="mega-menu-description">Where we can take you</span></span>-->
<!--                            </a>-->
<!--                        </li>-->



<!--                        <li class="nav-item nav-item-1">-->
<!--                            <a class="nav-link nav-link-1" href="#">-->
<!--                                <i class="fa fa-cart-plus home-icon-2"></i>-->
<!--                                <span class="cart-span-1">0</span>-->

<!--                            </a>-->
<!--                        </li>-->


                        <!--  <li class="nav-item nav-item-1 dropdown">
        <a class="nav-link nav-link-1 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item nav-item-1">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
                    </ul>

                </div>
        </div>
        </nav>

        {% block body %} {% endblock %}





        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <p class="footer-text-1">Book Your Travel LLC</p>
                        <p class="footer-text-2">
                            <i class="fa fa-map-marker red-color-1"></i> 1400 Pennsylvania Ave. Washington, DC
                        </p>
                        <p class="footer-text-2">
                            <i class="fa fa-phone red-color-1"></i> call 1-555-555-5555</p>

                        <p class="footer-text-2">
                            <i class="fa fa-envelope red-color-1"></i> info@bookyourtravel.com
                        </p>

                    </div>
                    <div class="col-sm-4">
                        <p class="footer-text-1">Follow us</p>
                        <!-- Add font awesome icons -->
                        <a href="#" class="fa footericon fa-facebook"></a>
                        <a href="#" class="fa footericon fa-twitter"></a>
                        <a href="#" class="fa footericon fa-google"></a>
                        <a href="#" class="fa footericon fa-linkedin"></a>


                    </div>
                    <div class="col-sm-4">
                        <p class="footer-text-1">Newsletter</p>
                        <span>
                <input type="text" name="email1" placeholder="Your Email Address" class="footer-input-1">
                <button class="footer-btn-1">Subscribe</button>

</span>




                    </div>


                </div>

                <div class="footer-bottom-1">


                    Copyright 2020 - 2020 | All Rights Reserved | Designed & developed By Webtrica



                </div>



            </div>

        </footer>























        <script type="text/javascript">
            (function() {

                function init(item) {
                    var items = item.querySelectorAll('li'),
                        current = 0,
                        autoUpdate = true,
                        timeTrans = 4000;

                    //create nav
                    var nav = document.createElement('nav');
                    nav.className = 'nav_arrows';

                    //create button prev
                    var prevbtn = document.createElement('button');
                    prevbtn.className = 'prev';
                    prevbtn.setAttribute('aria-label', 'Prev');

                    //create button next
                    var nextbtn = document.createElement('button');
                    nextbtn.className = 'next';
                    nextbtn.setAttribute('aria-label', 'Next');

                    //create counter
                    var counter = document.createElement('div');
                    counter.className = 'counter';

                    if (items.length > 1) {
                        nav.appendChild(prevbtn);
                        nav.appendChild(counter);
                        nav.appendChild(nextbtn);
                        item.appendChild(nav);
                    }

                    items[current].className = "current";
                    if (items.length > 1) items[items.length - 1].className = "prev_slide";

                    var navigate = function(dir) {
                        items[current].className = "";

                        if (dir === 'right') {
                            current = current < items.length - 1 ? current + 1 : 0;
                        } else {
                            current = current > 0 ? current - 1 : items.length - 1;
                        }

                        var nextCurrent = current < items.length - 1 ? current + 1 : 0,
                            prevCurrent = current > 0 ? current - 1 : items.length - 1;

                        items[current].className = "current";
                        items[prevCurrent].className = "prev_slide";
                        items[nextCurrent].className = "";

                        //update counter
                        counter.firstChild.textContent = current + 1;
                    }

                    item.addEventListener('mouseenter', function() {
                        autoUpdate = false;
                    });

                    item.addEventListener('mouseleave', function() {
                        autoUpdate = true;
                    });

                    setInterval(function() {
                        if (autoUpdate) navigate('right');
                    }, timeTrans);

                    prevbtn.addEventListener('click', function() {
                        navigate('left');
                    });

                    nextbtn.addEventListener('click', function() {
                        navigate('right');
                    });

                    //keyboard navigation
                    document.addEventListener('keydown', function(ev) {
                        var keyCode = ev.keyCode || ev.which;
                        switch (keyCode) {
                            case 37:
                                navigate('left');
                                break;
                            case 39:
                                navigate('right');
                                break;
                        }
                    });

                    // swipe navigation
                    // from http://stackoverflow.com/a/23230280
                    item.addEventListener('touchstart', handleTouchStart, false);
                    item.addEventListener('touchmove', handleTouchMove, false);
                    var xDown = null;
                    var yDown = null;

                    function handleTouchStart(evt) {
                        xDown = evt.touches[0].clientX;
                        yDown = evt.touches[0].clientY;
                    };

                    function handleTouchMove(evt) {
                        if (!xDown || !yDown) {
                            return;
                        }

                        var xUp = evt.touches[0].clientX;
                        var yUp = evt.touches[0].clientY;

                        var xDiff = xDown - xUp;
                        var yDiff = yDown - yUp;

                        if (Math.abs(xDiff) > Math.abs(yDiff)) { /*most significant*/
                            if (xDiff > 0) {
                                /* left swipe */
                                navigate('right');
                            } else {
                                navigate('left');
                            }
                        }
                        /* reset values */
                        xDown = null;
                        yDown = null;
                    };


                }

                [].slice.call(document.querySelectorAll('.cd-slider')).forEach(function(item) {
                    init(item);
                });

            })();
        </script>



        {% block script %} {% endblock %}


</body>

</html>