{% extends "basic.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<!-- End of Topbar -->

<!-- Page Heading -->

<!-- Page Heading -->
<div class="content-wrapper">

    <table id="example1" class="mt-5 table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Country</th>
                <th>City</th>
                <th>Hotel Name</th>
                <th>Price</th>
                <th>Bed</th>
                <th>view</th>
                <th>Delete</th>



            </tr>
        </thead>

        <tbody>
            {% for i in data %}
            <tr>

                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
                <td>{{i[5]}}</td>

                <td><a href="/hotel-view?id={{i[0]}}"><button class="btn btn-outline-danger">View</button></a></td>
                <td>
                    <td><a href="/edit-hotel?id={{i[0]}}"><button class="btn btn-outline-danger">delete</button></a></td>


            </tr>
            {% endfor %}
        </tbody>


        </tfoot>
    </table>
</div>

<!-- /.card-body -->


<!-- /.card -->



<!-- /.container-fluid -->

{%endblock%}