{% extends "layout.html" %} {% block body %}



<div class="home-bg-3">

    <div class="container">
        <p class="Package-heading-1">Your Search Result</p>







        <div class="row">
{% for data in package %}
            <!-- package code start-->
<div class="col-sm-3">
<div class="home-box-right-1">
  <div class="card">
  <div class="card-body px-0 py-0">
      <div class="packages-span-div-1"><span class="packages-span-label-tag">New</span></div>
        <div class="home-box-1-right-img-1" style="background-image: url(../static/images/{{data[13]}});"> </div>
<div class="container">

<p class="home-box-1-text-1">  {{data[9]}}
    
     </p>

<p class="home-box-1-text-1"> Per Person {{data[12]}}
    
     </p>

     <p class="home-box-1-text-1"> Total Price {{data[12] * persons|int }}
    
     </p>

     <small>{{data[2]}} To {{data[15]}}</small>


<small></small>



<div class="packages-box-1-des">

    <p class="home-box-1-text-1 more-text-1"> The Price Includes 
    
     </p>
 
  
     <p class="mb-0"><i class="fa fa-calendar"></i> Room</p>
                                <p class="mb-0"><i class="fa fa-calendar"></i> Flight</p>
                                <p class="mb-0"><i class="fa fa-plane"></i> Living Room</p>
                                <p class="mb-0"><i class="fa fa-plane"></i> Transfer </p>
                                <p class="mb-0"><i class="fa fa-plane"></i> Visa </p>
                                <p class="mb-0"><i class="fa fa-plane"></i> Insurance </p>
                                <p class="mb-0"><i class="fa fa-plane"></i> Lunch,Breakfast,Dinner </p>

      </div>

<button class="package-box-btn-1" onclick="viewchannel({{data[0]}})">Check detail</button>

</div>

</div></div></div></div>



{%endfor%}
            <!-- package code start-->
            {% for i in data %}
            <div class="col-sm-3">
                <div class="home-box-right-1">
                    <div class="card">
                        <div class="card-body px-0 py-0">
                            <div class="packages-span-div-1"><span class="packages-span-label-tag">New</span></div>
                            <div class="home-box-1-right-img-1" style="background-image: url('../static/images/{{i[2]}}')"> </div>
                            <div class="container">
                                <p class="home-box-1-text-1"> {{i[1]}}
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </p>

                                <small>Marina di Ragusa, Sicily, Italy</small>

                                <p class="mb-0 packages-box-text-1">Romms
                                    <span class="mb-0 font-weight-bold"> Available {{i[4]}}</span>
                                </p>

                                <div class="packages-box-1-des">
                                    <p class="mb-0"><i class="fa fa-calendar"></i> 8 days/7 nights, All Inclusive</p>
                                    <p class="mb-0"><i class="fa fa-plane"></i> London Luton</p>

                                </div>



                                <button onclick="viewchannel({{i[0]}})" class="package-box-btn-1 mt-2">Book Now</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- package code end-->

        </div>
    </div>
</div>
{% endblock %} {% block script %}
<script>
    function viewchannel(id) {

        console.log(id);

        var id = id.toString();
        var date = new Date();
        date.setTime(date.getTime() + (1 * 1 * 60 * 60 * 1000));
        document.cookie = "id = " + id + "; expires=" + date.toGMTString();
        window.location.href = "/user-hotel-detail";
    }
</script>
{% endblock %}